<!DOCTYPE html>
<html>
  <head>
    <title>FosterMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header class="rails-views-header">
    	<img class="logo" src="/images/paw_logo_white.svg"/>
  	</header>
  	<% if notice %>
  		<p class="ui success message"><%= notice %></p>
		<% elsif alert %>
  		<p class="ui error message"><%= alert %></p>
		<% end %>
    <%= yield %>
  </body>
</html>
